name: Build and Test on Linux

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**.md'

env:
  proc_num: $(nproc)

# https://github.com/actions/runner-images
jobs:
  gcc-compile-with-bazel:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: protobuf 23.1
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 23.1
        env: CC=gcc

    - name: protobuf 24.4
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 24.4
        env: CC=gcc

    - name: protobuf 25.5
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 25.5
        env: CC=gcc

    - name: protobuf 27.5
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 27.5
        env: CC=gcc

    - name: protobuf 28.3
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 28.3
        env: CC=gcc

    - name: protobuf 29.5
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 29.5
        env: CC=gcc

    - name: protobuf 30.2
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 30.2
        env: CC=gcc

  clang-compile-with-bazel:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: protobuf 23.1
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 23.1
        env: CC=clang

    - name: protobuf 24.4
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 24.4
        env: CC=clang

    - name: protobuf 25.5
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 25.5
        env: CC=clang

    - name: protobuf 27.5
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 27.5
        env: CC=clang

    - name: protobuf 28.3
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 28.3
        env: CC=clang

    - name: protobuf 29.5
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 29.5
        env: CC=clang

    - name: protobuf 30.2
      uses: ./.github/actions/compile-with-bazel-protobuf
      with:
        protobuf-version: 30.2
        env: CC=clang

